node_modules
npm-debug.log
tmp.json
/.DS_Store
/test-report.xml
/jest_0
/.npmrc
/.idea
/.babelrc
/.gitlab-ci.yml
/.eslintignore
/.editorconfig
/coverage
/src
/docs
/public
/bundle-stats.html
/CODE_OF_CONDUCT.md
/sonar-project.properties
/styleguide.config.js
/styleguide
/reports
